{{> navbar}}
<center>
<div class="title">
All Colleges
</div>
</center>
</br>
<section>
  {{#each browse}}
  <div class="browse-college-item">
    <a class="card-anchor" href="{{link}}">
      <div class="browse-college-img">
        <img src="{{image}}" />
      </div>
      <div class="browse-college-info">
        <span class="browse-college-name">{{name}}</span><br/>
        <span class="browse-college-location">{{location}}</span><br/>
        <section class="browse-college-text">
          <i class="icon-text fa fa-graduation-cap"></i>
          <span>{{representatives}} mentors</span><br/>
          <i class="icon-text fa fa-users"></i>
          <span>{{population}}</span><br/>
          <i class="icon-text fa fa-pie-chart"></i>
          <span>{{acceptance}}</span>
        </section>
      </div>
    </a>
  </div>
  {{/each}}
</section>
