{{> navbar}}

<section class="collegepage-container">
  <div class="college-back-background"></div>
  <div class="college-background-img">
    <img src="{{background_img}}" />
  </div>
  <div class="college-main-img">
    <img src="{{main_img}}" />
  </div>
  <div class="collegepage-spacer"></div>
  <section class="collegepage-info-container">
    <div class="collegepage-headers">
      <div class="collegepage-name">{{name}}</div>
      <div class="collegepage-location">{{location}}</div>
    </div>
    <div class="collegepage-description">{{description}}</div>

    <div class="collegepage-stats">
      <div class="glyphicon glyphicon-th"></div>
      <span>{{undergrads}} undergrads</span></br/>
      <div class="glyphicon glyphicon-th"></div>
      <span>{{acceptance}} acceptance</span>
    </div>
  </section>

  <section class="collegepage-mentors-container">
    <div class="collegepage-mentor-info">
      <div class="collegepage-mentor-title"> Meet our Mentors </div>
      <div class="collegepage-mentor-desc"> Schedule an appointment to learn real experiences from actual students</div>
    </div>
  </section>

  <section>
    {{#each mentors}}
    <div class="appointment-item">
      <div class="appointment-img">
        <img src="{{image}}" />
      </div>
      <div class="appointment-info">
        <span class="appointment-student-name"><a href="studentpage?mentor={{_id}}">{{name}}</a></span><br/>
        <span class="appointment-student-college">{{../college_name}}</span><br/>
        <section class="appointment-text">
          <div class="glyphicon glyphicon-th"></div>
          <span>
            <strong>Class</strong>
            <span>{{year}}</span>
          </span><br/>
          <div class="glyphicon glyphicon-th"></div>
          <span>
            <strong>Major</strong>
            <span>{{major}}</span>
          </span><br/>
          <div class="glyphicon glyphicon-th"></div>
          <span>
            <strong>Appointments</strong>
            <span>{{appointments}} completed</span>
            </span>
        </section>
      </div>
    </div>
    {{/each}}
  </section>
</div>