{{> navbar}}
<center><div class="title">
  Appointments
</div>
</center>
</br>
<section>

  {{#if appointments}}
  
    {{#each appointments}}
    <div class="appointment-item">
      <a href="{{link}}">
        <div class="appointment-img">
          <img src="{{image}}" />
        </div>
      </a>
      <div class="appointment-info">
        <span class="appointment-student-name"><a href="{{link}}">{{name}}</a></span><br/>
        <span class="appointment-student-college">{{college}}</span><br/>
        <section class="appointment-text">
          <i class="icon-text fa fa-calendar"></i>
          <span>
            <strong>Day</strong>
            <span>{{day}}</span>
          </span><br/>
          <i class="icon-text fa fa-clock-o"></i>
          <span>
            <strong>Time</strong>
            <span>{{time}}</span>
          </span><br/>
          <i class="icon-text fa fa-google"></i>
          <span>
            <strong>Hangout</strong>
            <span><a href="{{hangout}}"> Join the conversation!</a></span>
            </span>
        </section>
      </div>
    </div>
    {{/each}}
  
  {{else}}
  <div class="flex-message">
    <img src="https://i.imgur.com/wOG4eRL.png" />
    <div class="no-apts-message">Looks like there are no appointments :(</div>
    {{#if mentee}}
    <a class="no-apts-message" href="/browse">Let's find a mentor!</a>
    {{/if}}
  </div>
  {{/if}}

</section>
