{{> navbar}}
<center>
<div class="title">
  Edit Mentor Account
</div>
</center>
<form action="/edit/mentor" method="post">
  <section class="edit-mentor-container">
    <div class="form-input-container">
      <div class="form-input-label">NAME</div>
      <input type="text" class="form-input" name="name" placeholder="Enter your full name" value="{{name}}" required>
    </div>

    <div class="form-input-container">
      <div class="form-input-label">EMAIL</div>
      <input class="form-input form-control" name="email" type="text" value="{{email}}" disabled />
    </div>

    <div class="form-input-container">
      <div class="form-input-label">COLLEGE</div>
      <select class="select-college" name="college" required>
        <option value="ucsd">UC San Diego</option>
        <option value="harvard">Harvard</option>
        <option value="stanford">Stanford</option>
      </select>
    </div>

    <div class="form-input-container">
      <div class="form-input-label">YEAR</div>
      <select class="select-college" name="year" required>
        <option value="Freshman">Freshman</option>
        <option value="Sophmore">Sophmore</option>
        <option value="Junior">Junior</option>
        <option value="Senior">Senior</option>
        <option value="Graduate">Graduate</option>
      </select>
    </div>

    <div class="form-input-container">
      <div class="form-input-label">MAJOR</div>
      <input type="text" class="form-input" name="major" placeholder="Enter your major" value="{{major}}" maxlength="20" required />
    </div>

    <div class="form-input-container">
      <div class="form-input-label">BACKGROUND</div>
      <textarea class="form-input" name="background" maxlength="1000" cols="25" rows="10" placeholder="Tell us about yourself! Why did you sign up to be a mentor? What are you studying?" required>{{background}}</textarea>
    </div>

    <div class="form-input-container">
      <div class="form-input-label">HOW YOU CAN HELP</div>
      <textarea class="form-input" name="help" maxlength="1000" cols="25" rows="10" placeholder="How can you help? What experiences can you share with others?" required>{{help}}</textarea>
    </div>

    <div class="form-input-container">
      <div class="form-input-label">INTERESTS</div>
      <textarea class="form-input" name="interests" maxlength="1000" cols="25" rows="10" placeholder="Tell us anything interesting about you! What do you like to do?" required>{{interests}}</textarea>
    </div>

    <div class="form-input-button">
      <input class="rounded-button" type="submit" value="Save" />
    </div>
  </section>
</form>
