{{> navbar}}
<center>
<div class="title">
  Edit Mentor Account
</div>
<div>
  <a href="/logout">Logout</a>
</div>
<form action="/edit/mentor" method="post">
  <div class="editmentee">
    <h6 class="formh6"> NAME </h6>
    <input type="text" name="name" placeholder="Enter your full name" value="{{name}}" required><br>
    <h6 class="formh6"> EMAIL </h6>
    <input class="form-input form-control" name="email" type="text" value="{{email}}" disabled><br>
    <h6 class="formh6"> COLLEGE </h6>
    <select class="select-college" name="college" required>
      <option value="ucsd">UC San Diego</option>
      <option value="harvard">Harvard</option>
      <option value="stanford">Stanford</option>
    </select>
    <h6 class="formh6">YEAR</h6>
    <select class="select-college" name="year" required>
      <option value="Freshman">Freshman</option>
      <option value="Sophmore">Sophmore</option>
      <option value="Junior">Junior</option>
      <option value="Senior">Senior</option>
      <option value="Graduate">Graduate</option>
    </select>
    <h6 class="formh6">MAJOR</h6>
    <input type="text" name="major" placeholder="Enter your major" value="{{major}}" required/><br>
    <h6 class="formh6">BACKGROUND</h6>
    <textarea  name="background" maxlength="1000" cols="25" rows="10" placeholder="Tell us about yourself! What are you studying?" required>{{background}}</textarea>
    <h6 class="formh6"> HOW CAN YOU HELP?</h6>
    <textarea  name="help" maxlength="1000" cols="25" rows="10" placeholder="How can you help?" required>{{help}}</textarea>
    <br>
    <h6 class="formh6">INTERESTS</h6>
    <textarea name="interests" maxlength="1000" cols="25" rows="10" placeholder="How can you help?" required>{{interests}}</textarea>
    <br>
  </div></br>
  <div class="create-account-button">
    <input class="roundbutton" type="submit" value="Save" />
  </div>
</form>

</center>
