</br>
<div class="schoollogo">
	<img src="http://news.harvard.edu/gazette/wp-content/themes/gazette20/a/i/harvard-logo-2x.png" alt="" height="75%" width="75%"> </div>
<h3> Click on a student if you want to ask them a question!</h3>

{{#each harvard}}
	<div class="student">
		<div id="stuPicture">
			<img src="{{image}}" alt=""width="100px">
		</div>

		<div class="studentname">
			<a href={{href}}>{{name}}</a>
		</div>
		<ul>
			<li>{{year}}</li>
			<li>{{major}}</li>
			<li>{{fraternity}}</li>
			<li>{{extracurriculars}}</li>
			<li>{{housing}}</li>
		</ul>
	</div>
{{/each}}
