</br>
<div class="schoollogo">
	<img src="http://web.stanford.edu/dept/archplng/SU_altSigSeal_2col_pos.gif" alt="" height="75%" width="75%"> </div>
<h3> Click on a student if you want to ask them a question!</h3>


{{#each stanford}}
	<div class="student">
		<div id="stuPicture">
			<img src="{{image}}" alt=""width="100px">
		</div>
		<div class="studentname">
			<a href="{{href}}"> {{name}}</a>
		</div>
		<ul>
			<li> {{year}} </li>
			<li> {{major}}</li>
			<li> {{extracurriculars}}</li>
			<li> {{housing}}</li>
		</ul>
	</div>
{{/each}}
