{{> navbar}}
<div class="studentpage-container">
  <section class="studentpage-img-container">
    <div class="studentpage-img">
      <img src="{{image}}">
    </div>
    <div class="studentpage-img-name">{{name}}</div>
    <div class="studentpage-img-college">{{college_name}}</div>
  </section>
  <section class="studentpage-bio">
    <div><b>Background</b></div>
    {{#if background}}
    <p>{{background}}</p>
    {{else}}
    <p>Hi I’m Jesse! I’m a graduate student majoring in computer science at UCSD. I am currently a teaching assistant for an HCI course.</p>
    {{/if}}

    <div><b>How I can help</b></div>
    {{#if help}}
    <p>{{help}}</p>
    {{else}}
    <p>I am friends with many people from different majors and backgrounds. I can share some really cool stories from them, or I can share my own insights that I’ve learned from my four years at UCSD.</p>
    {{/if}}

    <div><b>Interests</b></div>
    {{#if interests}}
    <p>{{interests}}</p>
    {{else}}
    <p>I enjoy running biking and running 5k’s. On my spare time, I usually go eat hot pot!</p>
    {{/if}}
  </section>
  <div class="studentpage-divider"></div>
  <section class="studentpage-question-container">
    <div>What are you interested in learning from Jesse?</div>
    <textarea></textarea>
  </section>
  <section class="studentpage-appointment-container">
    <section class="studentpage-appointment-text">
      <div class="studentpage-apt-title">Want to chat?</div>
      <div class="studentpage-apt-details">Select an appointment time to get connected</div>
    </section>
    <section class="studentpage-appointments">

      <div>
        <select class="studentpage-apt-select">
          <option value="monday">Monday</option>
          <option value="tuesday">Tuesday</option>
          <option value="wednesday">Wednesday</option>
          <option value="thursday">Thursday</option>
          <option value="friday">Friday</option>
        </select>
      </div>

      <div class="flex-row">
        <div>
          <input class="apt-radio" id="r1" name="radios" type="radio" value="1:30 - 2:00PM" checked />
          <label class="btn rounded-select-button" for="r1">1:30 - 2:00PM</label>
        </div>
        <div>
          <input class="apt-radio" id="r2" name="radios" type="radio" value="2:00 - 2:30PM" />
          <label class="btn rounded-select-button" for="r2">2:00 - 2:30PM</label>
        </div>
        <div>
          <input class="apt-radio" id="r3" name="radios" type="radio" value="3:00 - 3:30PM" />
          <label class="btn rounded-select-button" for="r3">3:00 - 3:30PM</label>
        </div>
      </div>
      <div class="flex-row">
        <div>
          <input class="apt-radio" id="r4" name="radios" type="radio" value="4:00 - 4:30PM" />
          <label class="btn rounded-select-button" for="r4">4:00 - 4:30PM</label>
        </div>
        <div>
          <input class="apt-radio" id="r5" name="radios" type="radio" value="5:00 - 5:30PM" />
          <label class="btn rounded-select-button" for="r5">5:00 - 5:30PM</label>
        </div>
        <div>
          <input class="apt-radio" id="r6" name="radios" type="radio" value="6:00 - 6:30PM" />
          <label class="btn rounded-select-button" for="r6">6:00 - 6:30PM</label>
        </div>
      </div>

    </section>

    <div class="studentpage-divider"></div>

    <section class="studentpage-apt-confirm-container">
      <div class="studentpage-apt-confirm-title">Confirmation</div>
      <div class="studentpage-apt-confirm-details">You and your mentor will receive a google hangout link at</div>
      <div class="studentpage-apt-confirm-time">Please select an appointment</div>
      <a href="/done"><input type="submit" class="rounded-button" value="Confirm appointment"></a>
    </section>

  </section>
</div>
